/* src/components/Login.css */
.login-container {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container input {
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 40px);
}

.login-container button {
    background-color: #ff6600; /* Orange */
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #cc5200; /* Darker Orange */
}