/* src/components/UserLandingPage.css */
.user-landing-page {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.burger-menu {
    position: relative;
}

.burger-menu svg {
    cursor: pointer;
    font-size: 24px;
}

.menu-content {
    position: absolute;
    top: 15px;
    right: 0;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 10px;
}

.menu-content-item{
    margin: 2px;
    cursor: pointer;
}

.profile-button {
    background-color: #ffffff; /* Blue */
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.profile-button:hover {
    background-color: #0056b3; /* Darker Blue */
}

.upload-button {
    background-color: #ff6600; /* Orange */
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.upload-button:hover {
    background-color: #cc5200; /* Darker Orange */
}

.logout-button {
    background-color: #dc3545; /* Red */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.logout-button:hover {
    background-color: #9c0010; /* Darker Red */
}

.search-bar {
    margin-bottom: 20px;
}

.search-bar input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.library {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.library-item {
    background-color: #f8f9fa;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.item-title {
    font-weight: bold;
}

.item-download-button{
    background-color: #0056b3; /* Blue */
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    max-width: 32px;
    transition: 0.4s;
}

.item-download-button:hover {
    background-color: #ff6600; /* Orange */
}

.item-description {
    font-size: 0.9em;
    color: #555;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination button {
    background-color: #007bff; /* Blue */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.pagination span {
    margin: 0 10px;
}